server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://localhost:3307/identity_service"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "dL91xLYoRrBR5aCYHUSAsLKFX6U0XzmNE7miwx8R+YKzBc4G09ygPeLHApZXES99"